@charset "UTF-8";
*{font-family: Arial, Helvetica, sans-serif;}

body{

    background-image: linear-gradient(180deg,#9FC131,#DBF227,#D6D58E);
}
p{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: auto;
    background-image: linear-gradient(90deg,#005C53,rgba(0, 0, 0, 0.158));
    box-shadow: 5px 5px 10px #005C53;
}
h1{
    background-color:#9FC131;
    color: #042940;
    text-shadow: 5px 5px 10px #005C53;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#principal{
    color: #005C53;
    text-align: center;
}
.basico{
    color:aliceblue ;
}
.avancado{
    color: red;
}