@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 2px;
    
}
h1, h2{
    
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
form{width: 450px;}
legend{font-weight: bold;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
border-radius: 3px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);}
fieldset{
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    border:0px solid black;
    box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.432);
}
p#botao{
    text-align: right;
    padding-right: 10px;
}