@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
legend{font-weight: bold;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
border-radius: 3px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);}
fieldset{
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border:0px solid black;
}
