        *{  margin: 5px;      
        }
        body{
           background-color: rgb(92, 92, 92);
           border-radius: 10px;
            
        }
        header{
            background-color: rgb(45, 98, 212);
            border: 10px;
            border-radius: 10px 10px 0px 0px ;
            /*margin: 10px;*/
            padding: 2px;
        }
        nav{
            background-color: blanchedalmond;
            border-radius: 1px;
            padding: 2px 10px 2px 10px;
            text-align: right;
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.212);
        }
        main{
            /*margin: 10px;*/
            background-color: aliceblue;
            text-align: justify;
        }

        footer{
            background-color: rgb(27, 34, 124);
            color: white;
            text-align: right;
            font-family: Arial, Helvetica, sans-serif;
            padding: 2px;
            border-radius: 0px 0px 10px 10px;
            
        }
        footer > p {
            margin: 5px;
        }
       
    