@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');


*{

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
    
}
p{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: justify;
    font-weight: bolder;
    font-style: italic;
    text-indent: 50px;
    
}
body{
    background-image: linear-gradient(180deg,#D9D9D9,#8C8B88,#595856 );
}
main{
    background-color: #D9D9D9; /*cor do fundo */
    border-radius: 20px; /*borda arredonda*/
    box-shadow: 5px 5px 15px #0D0D0D;
    width: 600px;  /* largura quadro texto*/
    margin: auto; /* */
    padding: 10px;
   
    }
    h1,h2{
        font-family: 'Times New Roman', Times, serif;
    }
h1{
    font-family: 'Dancing Script', cursive;
    color:#262626 ;
    text-align: center;
    text-shadow: 1px 1px 2px #0D0D0D;
    font-size: 4em;
}
h2{
    color: #595856;
}

