@charset "UTF-8";
/* Style para tela*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  
    

}
body{
    height: 100vh;
    max-width: 800px;
    min-width: 350px;
    margin: auto;
   background-image: linear-gradient(180deg, black, white );
   
}
header{ padding-top: 10px;


}
h1{
    background-color: lightblue;
    
   
    border-radius: 5px 5px 0px 0px;
    text-align: center;

}
menu{
    background-color: rgb(80, 186, 221);
   
      

}
li{display: inline-block;
padding: 2px;}
main{
    background-color: lightblue;
  
   
    text-align: justify;


}
p{
    padding: 5px;
}
footer{
    background-color: lightskyblue;
    text-align: right;  
    padding: 2px;
    padding-right: 5px;
}