body{
   
    background-color: rgb(5, 15, 19);
    margin:50px;
    padding: 0px;
    border-radius: 50px;
}
form{
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
    padding: 10px;

    width: 300px;
    background-color: lemonchiffon;
}
input{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
    text-align: center
}
